* {
  box-sizing: border-box;
  font-family: Segoe UI, Arial, sans-serif;
}

body {
  margin: 0;
  background: #2b2f34;
  color: #d0d0d0;
}

.login-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 360px;
  text-align: center;
  transform: translateY(-20px);
}


.logo {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  max-width: 300px;
  margin-bottom: 20px;
}

.logo img {
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.login-box input {
  width: 100%;
  height: 36px;
  margin-bottom: 14px;
  background: #3a3d42;
  border: 1px solid #5a5a5a;
  color: #e0e0e0;
  padding: 0 10px;
  font-size: 13px;
  border-radius: 9px;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.6);
}

.login-box input:focus {
  outline: none;
  border-color: #ffb300;
}

.remember label {
  position: relative;
  top: -3px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 9px 0 14px 0;
  font-size: 17px;      /* было слишком крупно */
  color: #d0d0d0;
  position: relative;
  top: -4px;   /* поднимает вверх */
}

.remember input[type="checkbox"] {
  width: 14px;
  height: 14px;        /* ❗ ВАЖНО: квадрат, не 25px */
  margin: 0;
  padding: 0;
  accent-color: #ffffff;
  transform: translateY(-1px); /* микро-коррекция как в оригинале */
}



button {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid #f5b000;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 9px;
}

button:hover {
  background: rgba(255, 179, 0, 0.08);
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer span {
  color: #8c8c8c;
}

.form-wrapper {
  transition: transform 0.35s ease;
}

/* когда ошибка */
.form-wrapper.shift {
  transform: translateY(18px);
}

/* красное поле ошибки */
.error-box {
  height: 0;
  opacity: 0;
  margin: 0;
  overflow: hidden;

  background: #b32020;
  color: #ffffff;
  font-size: 13px;
  text-align: center;

  border-radius: 4px;
  line-height: 34px;

  transition:
    height 0.35s ease,
    opacity 0.25s ease,
    margin-bottom 0.35s ease;
}

/* показ ошибки */
.error-box.show {
  height: 34px;
  opacity: 1;
  margin-bottom: 12px;
}