* {
  box-sizing: border-box;
  font-family: Segoe UI, Arial, sans-serif;
}

body {
  margin: 0;
  background: #2b2f34;
  color: #d0d0d0;
}

.app {
  display: flex;
  height: 100vh;
}

/* ===== ЛЕВАЯ ПАНЕЛЬ ===== */
.sidebar {
  width: 260px;
  background: #262a2f;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1f2226;
}

.logo {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #1f2226;
}

.logo img {
  max-width: 180px;
  user-select: none;
  pointer-events: none;
}

/* ===== МЕНЮ ===== */
.menu {
  padding: 10px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  cursor: pointer;
  color: #cfcfcf;
  transition: background 0.2s ease;
}

.menu-item:hover {
  background: #31363c;
}

.menu-item.active {
  background: #31363c;
  border-left: 3px solid #ffb300;
  padding-left: 17px;
}

.menu-item.danger {
  color: #ff6b6b;
}

.icon {
  width: 20px;
  text-align: center;
}

/* ===== ОСНОВНАЯ ОБЛАСТЬ ===== */
.content {
  flex: 1;
  background: #2f3238;
}

.icon-mnemo {
  width: 35px;     /* подгони под дизайн */
  height: 35px;
  display: block;
}

.icon-graf {
  width: 35px;
  height: 35px;
  displey: block;
}

.icon-anal {
  width: 35px;
  height: 35px;
  displey: block;
}

.icon-soob {
  width: 35px;
  height: 35px;
  displey: block;
}

.icon-warn {
  width: 35px;
  height: 35px;
  displey: block;
}


.sidebar {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.menu-item {
  display: flex;
  align-items: center;   /* вертикальное выравнивание */
  gap: 30px;             /* расстояние между иконкой и текстом */
  padding: 14px 16px;
}

/* ===== ВЕРХНЯЯ ПАНЕЛЬ ===== */
.top-bar {
    height: 56px;
    background: #2f3339;
    border-bottom: 1px solid #3b4046;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 18px;
    user-select: none;
}

.top-left {
    font-size: 18px;
    color: #ffffff;
}

.page-title {
    font-weight: 500;
}

/* ===== ПРАВАЯ ЧАСТЬ ===== */
.top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-btn {
    display: flex;
    align-items: center;
    gap: 6px;

    background: #3a3f45;
    border: 1px solid #4a4f55;
    color: #e0e0e0;

    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.top-btn:hover {
    background: #454a50;
}

.date-box {
    display: flex;
    align-items: center;
    gap: 6px;

    background: #3a3f45;
    border: 1px solid #4a4f55;
    padding: 6px 10px;
    border-radius: 4px;

    color: #e0e0e0;
}

.icon-btn {
    width: 34px;
    height: 34px;

    background: #3a3f45;
    border: 1px solid #4a4f55;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.icon-btn:hover {
    background: #454a50;
}

.top-bar img {
    width: 20px;
    height: 20px;
    pointer-events: none;
}




